SA_KEY={{ extrausers_sa_key_path }}
IMPERSONATE={{ extrausers_impersonate }}

DOMAIN={{ extrausers_domain }}

# Group synchronization
GROUP_START_GID={{ extrausers_group_start_gid }}
GROUP_END_GID={{ extrausers_group_end_gid }}

OUTDIR=/var/lib/extrausers-director
DB=/var/lib/extrausers-director/idcache/google.db

PUBLISH_DIR=/srv/idcache

