[Unit]
Description=Pull /var/lib/extrausers from director nodes
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
Environment="BASE_URL=https://idcache.example.org"
Environment="MAX_AGE_SECONDS=10800"
ExecStart=/usr/sbin/extrausers-agent-sync
User=root
Group=root
Nice=5


